/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

/* evita que celdas largas expandan la tabla */
/*table.table {
    table-layout: fixed;
    width: 100%;
}

    table.table th, table.table td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }*/

/* separaciones visuales */
/*.card-body.p-3 {
    padding: 1rem !important;
}

.row.align-items-start {
    align-items: flex-start !important;
}*/
/* Grilla: tamaño y scroll */
/* Legibilidad y scroll */





